<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>ChinaZ</title>
        <link href="css/login_style.css" rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
        <script src="js/jquery-1.12.1.min.js"></script>
        <script src="js_function/login.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>
    <body>
        <h1>Login page</h1>
        <div class="app-location">
            <h2>Welcome</h2>
            <h3 id ="login_text" th:text="${messages}">XXXX</h3>
            <div class="line"><span></span></div>
            <div class="location"><img src="images/login_location.png" class="img-responsive" alt="" /></div>
            <form id="iform" th:action="@{/login}"    th:method="post" >
                <input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" name="userName" id ="userName"  th:value="*{userName}" />
                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" name ="passWord" id ="passWord" th:value="*{passWord}" />
                <div class="submit"><input type="submit"  value="Sign in" ></div>
                <div class="clear"></div>
                <div class="new">
                <h3><a href="#">Forgot password ?</a></h3>
                 <h4><a href="#">New here ? Sign Up</a></h4>
                <div class="clear"></div>
                </div>
            </form>
            </div>
            <!--start-copyright-->
            <div class="copy-right">
            <p>Copyright &copy; 2017-2020. All rights reserved.</p>
        </div>

    </body>
    </html>